*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    /* color: #f5af196e; */
    /* background-color: #171717; */
}


::-webkit-scrollbar{
    display: none;
}
.card{
    margin: 40px;
}
